    <table class='daten'>
      <thead>
        <tr>
          <th>Platform</th>
          <th>username</th>
          <th>email</th>
          <th>password</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let Daten of daten;">  
          <td>{{Daten.platform}}</td>
          <td>{{Daten.username}}</td>
          <td>{{Daten.email}}</td>
          <font style="font-size:0px"> - text 
      <td>{{Daten.password}}</td> </font>
      <button (click)=deleteData()>Delete</button>
    </tr>
        
    </div>
    
  </tbody>
</table>
<h1>Inputs and Outputs</h1>

<app-input-output (newDataEvent)="addData($event)"></app-input-output>

