     
<div>
    <label for ="Daten.Platform">Platform:</label><br> 
    <input type="text" placeholder="Enter ToDo Text Here For Test....." id="Daten.Platform" name="text"><br> 
   
    <label for="Daten.username">Username:</label><br>
    <input type="text" placeholder="Enter ToDo Text Here For Test....." id="Daten.username" name="username"><br> 
 
    <label for="Daten.email">Email:</label><br>
    <input type="email" placeholder="Enter ToDo Text Here For Test....." id="Daten.email" name="Email"><br> 

   <label for="Daten.password">Password:</label><br>
    <input type="password" placeholder="Enter ToDo Text Here For Test....." id="Daten.password" name="pwd"><br> 
</div>
