

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(17, 17, 17)
}

/* Header/logo Title */
.header {
  padding: 20px;
  background: #0a0a0a;
  color: white;
  position: sticky;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(31, 31, 31);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
  border: collapse;
  
  border: 2px solid #1a1a1a;
}

li a {
  display: block;
  color: rgb(247, 247, 247);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: collapse;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(15, 15, 15);
}
div {
  background-color: rgb(0, 0, 0)
  
}
h1 {
  background-color: #0a0a0a;
}