<form [formGroup]="Daten" (ngSubmit)="onSubmit()">

    <label for="DataPlatform">Platform: </label>
    <input id="DataPlatform" type="text" formControlName="DataPlatform">
  
    <label for="Username">username: </label>
    <input id="username" type="text" formControlName="DataUsername">

    <label for="DataPassword">Platform: </label>
    <input id="DataPasswor" type="password" formControlName="DataPassword">
  
    <label for="DataEmail">username: </label>
    <input id="email" type="email" formControlName="DataEmail">
  
    
  </form>
  <p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!Daten.valid">Submit</button> 