
<form [formGroup]="DataForm">


  <label for="platform">Platform: </label>
  <input id="platform" type="text" formControlName="platform">

  <label for="username">Username: </label>
  <input id="username" type="text" formControlName="username">

  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password">

  <label for="email">Email: </label>
  <input id="email" type="email" formControlName="email">
  <button (click)=addNewData>add</button>


</form>